/* BODY */



/* HEADER */

header {
  div.avatar {

  }
}

/* NAVIGATION */



/* MAIN */

main {
  section.about-dev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    p {
      max-width: 50%;
    }
  }
}

/* FOOTER */


