/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* BODY */

body {
  font-family: $font;
  font-weight: $normalWeight;
}

/* HEADER */

header {
  background-color: $primary;
  color: $secondary;
  text-align: center;
  padding: $gutter;

  div.avatar {
    max-width: 50%;
    margin: 0 auto;
    padding: 1rem;
  }

  img {
    width: 75%;
    height: 75%;
    border-radius: 45%;
  }

  h1 {
    font-size: 1.5em;
    font-weight: $boldWeight;
    margin: $gutter 0;
  }

  h3 {
    margin: $gutter 0;
    font-size: 1.15em;
    color: $secondary
  }

  section.social {
    padding: 1rem;

    li {
      display: inline-block;
      margin: 0 $gutter;
    }

    a {
      color: $secondary;
      text-decoration: none;
    }
  }
}

/* NAVIGATION */

nav {
  position: absolute;
  top: $gutter;
  right: $gutter;

  &:hover {
    background-color: $quinary;
    border: 1px solid darken($color: #ffffff, $amount: 10%);

    i.toggler {
      @include icon(times);
      color: $secondary;
    }

    div.toggle-container {
      display: block;
      padding: .15rem;
    }
  }

  div.toggler-container {
    text-align: right;
  }

  i.toggler {
    @include icon(bars);
    padding: .15rem .15rem 0 0;
  }

  div.toggle-container {
    display: none;
  }

  a {
    color: $secondary;
    text-decoration: none;
  }
  
  section.links li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  section.social li {
    text-align: center;
    display: inline-block;
    width: 31%;
  }
}

/* MAIN */

main {
  
}

/* FOOTER */

footer {

}
