$primary: rgba(4, 114, 77, 1);
$secondary: rgba(244, 244, 249, 1);
$tertiary: rgba(184, 219, 217, 1);
$quaternary: rgba(0, 0, 0, 1);
$quinary: rgba(88, 111, 124, 1);

$font: 'Assistant', sans-serif;
$normalWeight: 300;
$boldWeight: 600;

$gutter: 2%;
